#search-bar{
    height: 100vh;
    width: 100%;
}

#search-bar form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;
}

#search-bar #search-text {
    height: 10%;
    width: 70%;
    font-size: 2rem;
    padding-left: 1rem;
    border-radius: 1rem 0 0 1rem;
    outline: none;
    border: 1px solid #b6b6b6;
}

#search-bar #search-button {
    height: 10%;
    width: 10%;
    font-size: 2rem;
    border-radius: 0 1rem 1rem 0;
    outline: none;
    border: 1px solid #b6b6b6;
    cursor: pointer;
    color: white;
    background-color: #b6b6b6;
}

@media only screen and (max-width: 600px) {
    #search-bar form {
        flex-flow: column;
    }

    #search-bar #search-text {
        font-size: 1.5rem;
        width: 90%;
        border-radius: 1rem 1rem 0 0;
    }

    #search-bar #search-button {
        font-size: 2rem;
        width: 90%;
        border-radius: 0 0 1rem 1rem;
    }
}